<form [formGroup]="pedidoForm">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">Número de pedido</label>
            <div class="input-group">
                <input type="text" class="form-control" [value]="pedido?.id" disabled>
            </div>
        </div>
    </div>

    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">ID Usuario</label>
            <div class="input-group">
                <input type="text" class="form-control" [value]="pedido?.id_usuario" disabled>
            </div>
        </div>
    </div>

    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">Total</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" [value]="pedido?.total" disabled>
            </div>
        </div>
    </div>

    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">Fecha</label>
            <div class="input-group">
                <input type="text" class="form-control" [value]="pedido?.fecha" disabled>
            </div>
        </div>
    </div>

    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">Estado</label>
            <div class="input-group">
                <select class="form-select" formControlName="estado">
                    <option value="pendiente">Pendiente</option>
                    <option value="preparacion">Preparación</option>
                    <option value="listo">Listo</option>
                    <option value="entregado">Entregado</option>
                    <option value="cancelado">Cancelado</option>
                </select>
            </div>
        </div>
    </div>
</form>
<div class="tittle-bar col-12 d-flex justify-content-center">
    <a (click)="guardarCambios()" class="col-10 btn btn-success mt-2 w-70">Guardar</a>
</div>
