<form [formGroup]="categoriaForm">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">Nombre</label>
            <div class="input-group">
                <input type="text" class="form-control" formControlName="nombre">
            </div>
        </div>
    </div>

    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">URL de Imagen</label>
            <div class="input-group">
                <input type="text" class="form-control" formControlName="imagenUrl">
            </div>
        </div>
    </div>

    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">Disponible</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" formControlName="visible">
                <label class="form-check-label">Mostrar categoría</label>
            </div>
        </div>
    </div>
</form>
<div class="title-bar col-12 d-flex justify-content-center">
    <a (click)="guardarCambios()" class="col-10 btn btn-success mt-2 w-70">Guardar</a>
</div>
