<form [formGroup]="usuarioForm">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">Nombre</label>
            <div class="input-group">
                <input type="text" class="form-control" formControlName="nombre">
            </div>
        </div>
    </div>
    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">Apellido</label>
            <div class="input-group">
                <input type="text" class="form-control" formControlName="apellido">
            </div>
        </div>
    </div>
    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">Email</label>
            <div class="input-group">
                <input type="email" class="form-control" formControlName="email">
            </div>
        </div>
    </div>
    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">Rol</label>
            <div class="input-group">
                <select class="form-select" formControlName="rol" [disabled]="authService.getRole() !== 'admin'">
                    <option value="admin">Administrador</option>
                    <option value="empleado">Empleado</option>
                    <option value="cliente">Cliente</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="form-label">Estado</label>
            <div class="input-group">
                <select class="form-select" formControlName="estado">
                    <option value="activo">Activo</option>
                    <option value="pendiente">Pendiente</option>
                    <option value="bloqueado">Bloqueado</option>
                </select>
            </div>
        </div>
    </div>
</form>
<div class="tittle-bar col-12 d-flex justify-content-center">
    <a (click)="guardarCambios()" class="col-10 btn btn-success mt-2 w-70">Guardar</a>
</div>