 <footer
    class="fixed-bottom bg-light p-3 mt-5 shadow-top bg-body-tertiary rounded">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link activo" href="index.html"><i
                    class="fa-solid fa-house"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page"
                href="pedidos.html"><i
                    class="fa-solid fa-clipboard-list"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="carrito.html"><i
                    class="fa-solid fa-cart-shopping"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="usuario.html"><i
                    class="fa-solid fa-user"></i></a>
        </li>
    </ul>
</footer>