<footer class="fixed-bottom bg-light py-3 px-2 mt-5 shadow-top bg-body-tertiary rounded">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/home"
        routerLinkActive="activo"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <i class="fa-solid fa-house"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pedidos" routerLinkActive="activo">
        <i class="fa-solid fa-clipboard-list"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/carrito" routerLinkActive="activo">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/usuario" routerLinkActive="activo">
        <i class="fa-solid fa-user"></i>
      </a>
    </li>
  </ul>
</footer>