<!-- Encabezado -->
<app-titlebar [title]="'Notificaciones'" />

<div class="container py-3">

  <!-- Botón volver -->
  <app-back-button></app-back-button>

  <!-- pestañas pequeñas -->
<div class="containter mt-3 mb-3">
    <ul class="nav nav-pills justify-content-start gap-2">
        <li class="nav-item">
            <button class="btn btn-sm"
                [ngClass]="{'btn-success': selectedTab === 'notificaciones', 'btn-outline-secondary': selectedTab !== 'notificaciones'}"
                (click)="selectedTab = 'notificaciones'">
                Notificaciones
            </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-sm"
                [ngClass]="{'btn-success': selectedTab === 'promociones', 'btn-outline-secondary': selectedTab !== 'promociones'}"
                (click)="selectedTab = 'promociones'">
                Promociones
            </button>
        </li>
    </ul>
</div>

  <!-- Título -->
  <h1 class="fw-bold text-black mb-4">Últimas {{ selectedTab }}</h1>
  @if (selectedTab === 'promociones') {
  @for (promocion of arrayPromociones; track promocion.id) {
  <!-- Promociones  -->
  <div class="card mb-3 p-2">

    <div class="d-flex align-items-center">

      <div class="bg-warning text-white rounded-circle d-flex align-items-center justify-content-center me-3"
        style="width: 60px; height: 60px;">
        <i class="fa-solid fa-gift fa-2x"></i>
      </div>

      <div class="flex-grow-1">
        <h6 class="mb-1 fw-bold">{{promocion.nombre}}</h6>
          <p class="mb-">{{promocion.descripcion}}</p>
          <small class="text-body-secondary"><i class="fa-solid fa-clock"></i>{{promocion.fecha_fin}}</small>
      </div>

    </div>

  </div>
}}
@else{

  @for (notificacion of arrayNotificaciones; track notificacion.id) {
    <div class="card mb-3 p-2">

    <div class="d-flex align-items-center">

      <div class="bg-primary text-white rounded-circle d-flex align-items-center justify-content-center me-3"
        style="width: 60px; height: 60px;">
        <i class="fa-solid fa-bell fa-2x"></i>
      </div>

      <div class="flex-grow-1">
        <h6 class="mb-1">Pedido #{{notificacion.id}} </h6>
        <p>{{notificacion.mensaje}}</p>
        <small class="text-body-secondary"><i class="fa-solid fa-clock"></i>{{notificacion.fecha}}</small>
      </div>

    </div>
  </div>
  }

}

</div>

<!-- Footer -->
<app-navbar></app-navbar>