body{
    background-color: #F6F6F6;
}

.title-bar{
    width: 100%;
    background-color: rgb(10, 141, 10);
    border-radius: 0px 0px 30px 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.2rem;
}

.title-bar h6{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
  

h1{
    font-size: 22px;
    font-weight: 400;
    color: black;
}

.nav-link{
    color: green;
}

.nav-link.activo{
    background-color: green;
    color: white;
}


.card-img-top {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.shadow-top {
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
  }