.title-bar {
    width: 100%;
    background-color: rgb(10, 141, 10);
    border-radius: 0px 0px 30px 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.2rem;
}

.title-bar h6 {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
